<!doctype html>
<!--[if lt IE 7 ]> <html lang="pt-br" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="pt-br" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="pt-br" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="pt-br" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="pt-br" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>booksex</title>
	<meta name="description" content="booksex">
	<meta name="author" content="booksex">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="i/favicon.png">
	<link rel="stylesheet" href="css/960_12_col.css">
    <link rel="stylesheet" href="css/style.css">
    
    <!--[if IEE]>
    	<style type="text/css">
            .bgtops{border-left:1px solid #5989C6;}
        </style>
    <![endif]-->
    
    <script src="js/libs/modernizr.2.0.6.js"></script>
</head>
<body class="home">
	<div class="container">
    	<header role="banner">
        	<div class="container_12">
            	<div class="grid_4 alpha omega" id="logo">
            		<a href="index.html"><img src="i/logo.png" width="139" height="42" alt="Logo booksex"/></a>
                    <p>Facilitando a realização das suas fantasias</p>
                </div>
                
                <div class="grid_8">
                	<div id="box_logged">
                    	<img src="i/fake_profiles/1.jpg" class="photo_logged" width="50" height="50">
                        
                        <div class="menu_logged">
                        	<a href="#" class="logged_login"><img src="i/icons/star13x13.png" title="você é um usuário assinante" alt="" class="star mr5">bruna_safadinha</a>
                            
                            <ul>
                            	<li><a href="#">Meu booksex</a></li>
                                <li><a href="#">Meu Perfil</a></li>
                                <li><a href="#">Recados(1000)</a></li>
                                <li><a href="#">Painel de controle</a></li>
                                <li><a href="#">Sair</a></li>
                            </ul>
                            
                            <div class="clear"></div>
                        </div>
                    </div>                    
                </div>
                <div class="clear"></div>
                <div class="grid_12 alpha omega">
                	<form id="form_search">
                    	<fieldset class="search_for ml10">
                        	<label for="genero">Procurar por:</label>
                            <select name="genero" id="genero">
                            	<option value="">Homem</option>
                                <option value="" selected>Mulher</option>
                                <option value="">Casal(Ele/Ela)</option>
                                <option value="">Casal(Ela/Ela)</option>
                                <option value="">Casal(Ele/Ele)</option>
                            </select>
                        </fieldset>
                        
                        <fieldset class="search_age ml35">
                        	<label for="age">Entre:</label>
                            <select name="idade" id="age">
                            	<option value="">Qualquer idade</option>
                                <option value="">18 e 24</option>
                                <option value="">25 e 30</option>
                                <option value="">30 e 40</option>
                                <option value="">40 e 50</option>
                                <option value="">acima de 50</option>
                            </select>
                        </fieldset>
                        
                        <fieldset class="search_state ml35">
                        	<label for="state">Em:</label>
                            <select name="estado" id="state">
                            	<option value="">Qualquer lugar</option>
                                <option value="">São Paulo</option>
                                <option value="">Rio de Janeiro</option>
                                <option value="">Rio Grande do Sul</option>
                                <option value="">Minas Gerais</option>
                                <option value="">Rio Grande do Norte</option>
                            </select>
                        </fieldset>
                        
                        <fieldset class="ml35">
                        	<input type="image" src="i/btn/search.png" value="">
                        </fieldset>
                        
                        <fieldset class="ml35">
                        	<a href="#"><img src="i/btn/busca_avancada.png" alt="Busca avançada"></a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </header>
        
        <div class="clear"></div>
        
        <div id="content" class="container_12">
        	<div class="grid_12 alpha omega">
            	<div id="content_panel">
                	<div class="grid_3 omega" style="width:230px;">
                    	<div class="user_box">
                        	<img src="i/fake_profiles/1.jpg" class="photo_panel photo" width="50" height="50">
                            
                            <div class="user_box_actions">
                            	<ul>
                                	<li><strong>bruna_safadinha</strong></li>
                                    <li><a href="#">Painel de controle</a></li>
                                    <li><a href="#">Sair</a></li>
                                </ul>
                            </div>
                        	<div class="clear"></div>
                        </div>
                        
                        <div id="menu_left">
                        	<nav>
                            	<ul>
                                	<li class="menu_title">
                                    	<a href="#" class="pagina_inicial">Página inicial</a>
                                    </li>
                                    <li class="menu_title">
                                    	<a href="#" class="default painel">Painel</a>
                                        
                                        <ul class="submenu">
                                        	<li><a href="painel.html">- Notificações</a></li>
                                            <li><a href="painel_editar_perfil.html">- Editar Perfil</a></li>
                                            <li><a href="#">- Minha conta</a></li>
                                            <li class="current"><a href="#">- Meus recados (1000)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu_title">
                                    	<a href="#" class="default amigos_favoritos">Amigos e favoritos</a>
                                        
                                        <ul class="submenu">
                                        	<li><a href="#">- Pedidos de amizade (1000)</a></li>
                                            <li><a href="#">- Meus amigos (1000)</a></li>
                                            <li><a href="#">- Meus favoritos (1000)</a></li>
                                            <li><a href="#">- De quem sou favorito (1000)</a></li>
                                            <li><a href="#">- Usuários bloquados (1000)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu_title">
                                    	<a href="#" class="default meu_booksex">Meu booksex</a>
                                        
                                        <ul class="submenu">
                                        	<li><a href="#">- Minhas fotos (1000)</a></li>
                                            <li><a href="#">- Adicionar nova foto</a></li>
                                            <li><a href="#">- Estatísticas</a></li>
                                        </ul>
                                    </li> 
                                    <li class="menu_title last">
                                    	<a href="#" class="default ferramentas">Ferramentas</a>
                                        
                                        <ul class="submenu">
                                        	<li><a href="#">- Convidar um amigo</a></li>
                                            <li><a href="#">- Contato / Suporte</a></li>
                                            <li><a href="#">- Fazer uma denúncia</a></li>
                                        </ul>
                                    </li>                                                                        
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                    <div id="content_main" class="grid_9 alpha omega">
                    	<div id="content_center" class="grid_6 alpha omega" style="width:470px;">
                            <div class="title_bar">
                                <h3>Meus recados (1000)</h3>
                            </div>
                            
                            <div class="list">                            
                                <div class="image_from">
                                    <a href="#"><img src="i/fake_profiles/2.jpg" alt="Foto 1" width="50" height="50" class="photo"></a>
                                </div>
                                <div class="list_message">
                                    <div class="user_from">
                                    	<a href="#" class="assinante">gauchoafimdesexo</a>
                                        <span class="ft11">em 19/12/2011</span>
                                    </div>
                                    <p class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                	<div class="actions_buttons">
                                    	<a href="#"><img src="i/icons/sprite_response13x12.png" alt=""></a>
                          				<a href="#"><img src="i/icons/sprite_delete9x9.png" alt="" width="10" height="10"></a>
                                    </div>
                                </div>                            
                            </div>
                            
                            <div class="separador"></div>
                            
                            <div class="list">                            
                                <div class="image_from">
                                    <a href="#"><img src="i/fake_profiles/11.jpg" alt="Foto 1" width="50" height="50" class="photo"></a>
                                </div>
                                <div class="list_message">
                                    <div class="user_from">
                                    	<a href="#">casalsedutor</a>
                                        <span class="ft11">em 19/12/2011</span>
                                    </div>
                                    <p class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.<br><br>
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.<br><br>
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                                	<div class="actions_buttons">
                                    	<a href="#"><img src="i/icons/sprite_response13x12.png" alt=""></a>
                          				<a href="#"><img src="i/icons/sprite_delete9x9.png" alt="" width="10" height="10"></a>
                                    </div>
                                </div>                            
                            </div>
                            
                            <div class="separador"></div>
                            
                            <div class="list">                            
                                <div class="image_from">
                                    <a href=""><img src="i/fake_profiles/4.jpg" alt="Foto 1" width="50" height="50" class="photo"></a>
                                </div>
                                <div class="list_message">
                                    <div class="user_from">
                                    	<a href="#" class="assinante">branquelotopatudo</a>
                                        <span class="ft11">em 19/12/2011</span>
                                    </div>
                                    <p class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                	<div class="actions_buttons">
                                    	<a href="#"><img src="i/icons/sprite_response13x12.png" alt=""></a>
                          				<a href="#"><img src="i/icons/sprite_delete9x9.png" alt="" width="10" height="10"></a>
                                    </div>
                                </div>                            
                            </div>
                            
                            <div class="separador"></div>
                            
                            <div class="list">                            
                                <div class="image_from">
                                    <a href="#"><img src="i/fake_profiles/15.jpg" alt="Foto 1" width="50" height="50" class="photo"></a>
                                </div>
                                <div class="list_message">
                                    <div class="user_from">
                                    	<a href="#">casalparacasal</a>
                                        <span class="ft11">em 19/12/2011</span>
                                    </div>
                                    <p class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                	<div class="actions_buttons">
                                    	<a href="#"><img src="i/icons/sprite_response13x12.png" alt=""></a>
                          				<a href="#"><img src="i/icons/sprite_delete9x9.png" alt="" width="10" height="10"></a>
                                    </div>
                                </div>                            
                            </div>
                            
                            <div class="separador"></div>
                            
                            <div class="list">                            
                                <div class="image_from">
                                    <a href="#"><img src="i/fake_profiles/2.jpg" alt="Foto 1" width="50" height="50" class="photo"></a>
                                </div>
                                <div class="list_message">
                                    <div class="user_from">
                                    	<a href="#" class="assinante">gauchoafimdesexo</a>
                                        <span class="ft11">em 19/12/2011</span>
                                    </div>
                                    <p class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                	<div class="actions_buttons">
                                    	<a href="#"><img src="i/icons/sprite_response13x12.png" alt=""></a>
                          				<a href="#"><img src="i/icons/sprite_delete9x9.png" alt="" width="10" height="10"></a>
                                    </div>
                                </div>                            
                            </div>
                            
                            <div class="pagination">
                            	<a href="#">Anterior</a>
                                <a href="#">1001</a>
                                <a href="#">1002</a>
                                <span>...</span>
                                <a href="#">1010</a>
                                <span class="current">1011</span></a>
                                <a href="#">1012</a>
                                <span>...</span>
                                <a href="#">2000</a>
                                <a href="#">2001</a>
                                <a href="#">Próxima</a>
                            </div>
                        </div>                       
                                        
                    
                        <div id="content_right" class="grid_3 omega">
                            <div id="ultima_atualizacao">
                                <div class="title_bar">
                                    <h3>Minha última atualização</h3>
                                </div>
                                
                                <div class="box_ultima_atualizacao">
                                    <div class="image_ultima_atualizacao">
                                        <a href="#"><img src="i/fake_profiles/25.jpg" width="80" height="60" class="photo"></a>
                                    </div>
                                    
                                    <div class="ultima_atualizacao_info">
                                        <span>Atualizado em</span>
                                        <span class="ultima_atualizacao_data">17/12/2011</span>
                                        
                                        <p><a href="#" class="ultima_atualizacao_comments">150</a></p>
                                    </div>
                                    
                                    <div class="ultima_atualizacao_nav">
                                        <a href="#">Minhas fotos</a>&nbsp; &nbsp; &nbsp;&nbsp;
                                        <a href="#">Meu booksex</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="meus_amigos">
                                <div class="title_bar">
                                    <h3>Meus amigos (1000)</h3>
                                </div>
                                
                                <div class="box_meus_amigos_favoritos">
                                    <ul>
                                        <li><a href="#"><img src="i/fake_profiles/2.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/3.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/4.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/5.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/6.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/7.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/8.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/9.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/10.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/11.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/12.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/13.jpg" width="50" height="50" class="photo"></a></li>
                                    </ul>
                                    <div class="ver_todos">
                                        <a href="#">Ver meus amigos</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="meus_favoritos">
                                <div class="title_bar">
                                    <h3>Meus favoritos (1000)</h3>
                                </div>
                                
                                <div class="box_meus_amigos_favoritos">
                                    <ul>
                                        <li><a href="#"><img src="i/fake_profiles/12.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/10.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/11.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/13.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/8.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/9.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/5.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/6.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/4.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/7.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/2.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/3.jpg" width="50" height="50" class="photo"></a></li>
                                    </ul>
                                    <div class="ver_todos">
                                        <a href="#">Ver meus favoritos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        
        <footer>
        	<div class="container_12">
            	<div class="prefix_4 grid_4">
                	<ul class="up">
      					<li><a href="index.html">Home</a> |</li>
      					<li><a href="#">Termos de uso</a> |</li>
                        <li><a href="#">Contato</a> |</li>
      					<li><a href="#">Denúncia</a></li>
    				</ul>
                    
                    <p><img src="i/logo_footer.png" alt="booksex"></p>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.6.2.min.js"%3E%3C/script%3E'))</script>
    <script src="js/libs/jquery.placeholder.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/libs/jquery-ui/min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/script.js"></script>
</body>
</html>