<!doctype html>
<!--[if lt IE 7 ]> <html lang="pt-br" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="pt-br" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="pt-br" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="pt-br" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="pt-br" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>booksex</title>
	<meta name="description" content="booksex">
	<meta name="author" content="booksex">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="i/favicon.png">
	<link rel="stylesheet" href="css/960_12_col.css">
    <link rel="stylesheet" href="css/style.css">
    
    <!--[if IE]>
    	<style type="text/css">
            #painel_simple_form select.w250{width:262px;}
        </style>
    <![endif]-->
    <!--[if lt IE 9]>
    	<style type="text/css">
            .painel_simple_form select.dia_nasc{min-width:55px;}
            .painel_simple_form select.mes_nasc{min-width:95px;}
            .painel_simple_form select.ano_nasc{min-width:70px;}
        </style>
    <![endif]-->
    
    <script src="js/libs/modernizr.2.0.6.js"></script>
</head>
<body class="home">
	<div class="container">
    	<header role="banner">
        	<div class="container_12">
            	<div class="grid_4 alpha omega" id="logo">
            		<a href="index.html"><img src="i/logo.png" width="139" height="42" alt="Logo booksex"/></a>
                    <p>Facilitando a realização das suas fantasias</p>
                </div>
                
                <div class="grid_8">
                	<div id="box_logged">
                    	<img src="i/fake_profiles/1.jpg" class="photo_logged" width="50" height="50">
                        
                        <div class="menu_logged">
                        	<a href="#" class="logged_login"><img src="i/icons/star13x13.png" title="você é um usuário assinante" alt="" class="star mr5">bruna_safadinha</a>
                            
                            <ul>
                            	<li><a href="#">Meu booksex</a></li>
                                <li><a href="#">Meu Perfil</a></li>
                                <li><a href="#">Recados(1000)</a></li>
                                <li><a href="#">Painel de controle</a></li>
                                <li><a href="#">Sair</a></li>
                            </ul>
                            
                            <div class="clear"></div>
                        </div>
                    </div>                    
                </div>
                <div class="clear"></div>
                <div class="grid_12 alpha omega">
                	<form id="form_search">
                    	<fieldset class="search_for ml10">
                        	<label for="genero">Procurar por:</label>
                            <select name="genero" id="genero">
                            	<option value="">Homem</option>
                                <option value="" selected>Mulher</option>
                                <option value="">Casal(Ele/Ela)</option>
                                <option value="">Casal(Ela/Ela)</option>
                                <option value="">Casal(Ele/Ele)</option>
                            </select>
                        </fieldset>
                        
                        <fieldset class="search_age ml35">
                        	<label for="age">Entre:</label>
                            <select name="idade" id="age">
                            	<option value="">Qualquer idade</option>
                                <option value="">18 e 24</option>
                                <option value="">25 e 30</option>
                                <option value="">30 e 40</option>
                                <option value="">40 e 50</option>
                                <option value="">acima de 50</option>
                            </select>
                        </fieldset>
                        
                        <fieldset class="search_state ml35">
                        	<label for="state">Em:</label>
                            <select name="estado" id="state">
                            	<option value="">Qualquer lugar</option>
                                <option value="">São Paulo</option>
                                <option value="">Rio de Janeiro</option>
                                <option value="">Rio Grande do Sul</option>
                                <option value="">Minas Gerais</option>
                                <option value="">Rio Grande do Norte</option>
                            </select>
                        </fieldset>
                        
                        <fieldset class="ml35">
                        	<input type="image" src="i/btn/search.png" value="">
                        </fieldset>
                        
                        <fieldset class="ml35">
                        	<a href="#"><img src="i/btn/busca_avancada.png" alt="Busca avançada"></a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </header>
        
        <div class="clear"></div>
        
        <div id="content" class="container_12">
        	<div class="grid_12 alpha omega">
            	<div id="content_panel">
                	<div class="grid_3 omega" style="width:230px;">
                    	<div class="user_box photo_perfil">
                        	<img src="i/fake_profiles/1.jpg" class="photo" width="130" height="110">                            
                        	<div class="clear"></div>
                        </div>
                        
                        <div id="menu_left">
                        	<nav>
                            	<ul>
                                	<li class="menu_title">
                                    	<a href="#" class="pagina_inicial">Página inicial</a>
                                    </li>
                                    <li class="menu_title">
                                    	<a href="#" class="meu_booksex">Meu booksex</a>
                                    </li>
                                    <li class="menu_title">
                                    	<a href="#" class="amigos_favoritos">Meus amigos (1000)</a>
                                    </li>
                                    <li class="menu_title">
                                    	<a href="#" class="favoritos">Meus favoritos (1000)</a>
                                    </li>
                                    <li class="menu_title">
                                    	<a href="#" class="recados">Meus recados (1000)</a>
                                    </li>
                                    <li class="menu_title">
                                    	<a href="#" class="denunciar">Denunciar</a>
                                    </li>                                 
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                    <div id="content_main" class="grid_9 alpha omega">
                    	<div id="content_center" class="grid_6 alpha omega" style="width:470px;">
                            <div class="title_bar">
                                <h3>bruna_safadinha</h3>
                            </div>
                            
                            <div class="profile_info user_from">
                            	<p><a href="#" class="assinante">bruna_safadinha</a> <span>- Mulher</span></p>
                                <p>São Bernardo do Campo - SP</p>
                                <p>Último acesso em 19/12/2011 20h41m</p>
                                <p>Pertence ao booksex desde 15/12/2011</p>
                            </div>
                            
                            <div class="perfil_contatos box_profile_info">
                            	<h2>- Informações de contato</h2>
                                <div class="content_info mb5">
                                	<p><a href="#" class="msn">bruna_safadinha@hotmail.com</a></p>
                                    <p><a href="#" class="facebook">http://www.facebook.com/profile.php?id=100000464841375...</a></p>
                                    <p><a href="#" class="twitter">http://twitter.com/bruna_safadinha</a></p>
                                    <p><a href="#" class="orkut">http://www.orkut.com.br/Main#Profile?rl=mp&uid=9849190441...</a></p>
                                </div>
                            </div>
                            
                            
                            <div class="perfil_sobre box_profile_info">
                            	<h2>- Sobre mim</h2>
                                <div class="content_info">
                                	<p>Bem vindos... Pode espiar a vontade.<br>
                                    Sou mulher, totalmente ciente do que faz, deseja e procura.<br>
                                    *********************************<br>
                                    Tenho milhões de defeitos, alguns deles visíveis outros não. Falo baixo demais às vezes, falo muito e muito rápido quando feliz, preciso urgente emagrecer um pouco, uso óculos, odeio meu dedinho do pé, sou sincera demais (epa! Sinceridade é defeito?), o meu popô e pequeno, faço progressiva e amo meus cabelos escovados (encaracolados, versão original, nem pensar), tenho pé pequeno demais, então as vezes não acho o sapato que queria.<br>
                                    .... Posso deixar outra lista enorme aqui se quiserem. Mas o caso não é esse, pouco me importa quantos comentários foram deixados, apesar de entrar toda hora pra ver e adorar quando há muitos, mas fico triste, se "A Pessoa" não comentar.<br>
                                    Gosto muito de amigos virtuais, acredito que a internet é ótimo para aproximar pessoas. Fiz ótimos amigos aqui. Que com certeza, cerveja e vinho, levarei para vida inteira. No lado esquerdo do meu peito... (Outro defeito, olha! Peito pequeno)<br>
                                    Gosto de citar poetas e escritores que fazem parte da minha historia. Não por não ter o que dizer, mas por eles já terem feito isso por mim. Facilita sabe!<br></p>
                                </div>
                            </div>
                            
                            <div class="perfil_info_pessoais box_profile_info">
                            	<h2>- Informações pessoais</h2>
                                <div class="content_info">
                                	<div class="box_info_left">
                                    	<p><strong>Bruno Safado</strong></p>
                                        <p><strong>Sexualidade:</strong> Heterossexual</p>
                                        <p><strong>Idade:</strong> 27 anos (19/06/1984)</p>
                                        <p><strong>Etnia:</strong> Branco(a)</p>
                                        <p><strong>Cabelos:</strong> Castanhos</p>
                                        <p><strong>Olhos:</strong> Castanhos</p>
                                        <p><strong>Altura:</strong> 1,75m</p>
                                        <p><strong>Peso:</strong> 90kg (acima do peso)</p>
                                        <p><strong>Fumante:</strong> Ocasionalmente</p>
                                        <p><strong>Bebe:</strong> Ocasionalmente</p>
                                    </div>
                                    
                                    <div class="box_info_right">
                                    	<p><strong>Bruna Safada</strong></p>
                                        <p><strong>Sexualidade:</strong> Bissexual</p>
                                        <p><strong>Idade:</strong> 27 anos (19/06/1984)</p>
                                        <p><strong>Etnia:</strong> Branco(a)</p>
                                        <p><strong>Cabelos:</strong> Castanhos</p>
                                        <p><strong>Olhos:</strong> Castanhos</p>
                                        <p><strong>Altura:</strong> 1,75m</p>
                                        <p><strong>Peso:</strong> 65kg (atlético)</p>
                                        <p><strong>Fumante:</strong> Ocasionalmente</p>
                                        <p><strong>Bebe:</strong> Ocasionalmente</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clear"></div>
                            
                            <div class="perfil_interesses box_profile_info">
                            	<h2>- Interesses pessoais</h2>
                                <div class="content_info">
                                	<div class="box_info_left">
                                    	<p><strong>- Procuramos por:</strong></p>
                                        <p class="ml20">- Homem</p>
                                        <p class="ml20">- Mulher</p>
                                        <p class="ml20">- Casal (1 homem e 1 mulher)</p>
                                        <p class="ml20">- Casal (2 mulheres)</p>
                                        <p class="ml20">- Casal (2 homens)</p>
                                    </div>
                                    
                                    <div class="box_info_right">
                                    	<p><strong>- Para:</strong></p>
                                        <p class="ml20">- Sexo virtual</p>
                                        <p class="ml20">- Sexo a dois</p>
                                        <p class="ml20">- Swing</p>
                                        <p class="ml20">- Sexo em grupo</p>
                                        <p class="ml20">- Relacionamento discreto</p>
                                        <p class="ml20">- Apenas amizades</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clear"></div>
                            
                        </div>                       
                                        
                    
                        <div id="content_right" class="grid_3 omega">
                            <div id="ultima_atualizacao">
                                <div class="title_bar">
                                    <h3>Minha última atualização</h3>
                                </div>
                                
                                <div class="box_ultima_atualizacao">
                                    <div class="image_ultima_atualizacao">
                                        <a href="#"><img src="i/fake_profiles/25.jpg" width="80" height="60" class="photo"></a>
                                    </div>
                                    
                                    <div class="ultima_atualizacao_info">
                                        <span>Atualizado em</span>
                                        <span class="ultima_atualizacao_data">17/12/2011</span>
                                        
                                        <p><a href="#" class="ultima_atualizacao_comments">150</a></p>
                                    </div>
                                    
                                    <div class="ultima_atualizacao_nav">
                                        <a href="#">Minhas fotos</a>&nbsp; &nbsp; &nbsp;&nbsp;
                                        <a href="#">Meu booksex</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="meus_amigos">
                                <div class="title_bar">
                                    <h3>Meus amigos (1000)</h3>
                                </div>
                                
                                <div class="box_meus_amigos_favoritos">
                                    <ul>
                                        <li><a href="#"><img src="i/fake_profiles/2.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/3.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/4.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/5.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/6.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/7.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/8.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/9.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/10.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/11.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/12.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/13.jpg" width="50" height="50" class="photo"></a></li>
                                    </ul>
                                    <div class="ver_todos">
                                        <a href="#">Ver meus amigos</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="meus_favoritos">
                                <div class="title_bar">
                                    <h3>Meus favoritos (1000)</h3>
                                </div>
                                
                                <div class="box_meus_amigos_favoritos">
                                    <ul>
                                        <li><a href="#"><img src="i/fake_profiles/12.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/10.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/11.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/13.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/8.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/9.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/5.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/6.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/4.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/7.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/2.jpg" width="50" height="50" class="photo"></a></li>
                                        <li><a href="#"><img src="i/fake_profiles/3.jpg" width="50" height="50" class="photo"></a></li>
                                    </ul>
                                    <div class="ver_todos">
                                        <a href="#">Ver meus favoritos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        
        <footer>
        	<div class="container_12">
            	<div class="prefix_4 grid_4">
                	<ul class="up">
      					<li><a href="index.html">Home</a> |</li>
      					<li><a href="#">Termos de uso</a> |</li>
                        <li><a href="#">Contato</a> |</li>
      					<li><a href="#">Denúncia</a></li>
    				</ul>
                    
                    <p><img src="i/logo_footer.png" alt="booksex"></p>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.6.2.min.js"%3E%3C/script%3E'))</script>
    <script src="js/libs/jquery.placeholder.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/libs/jquery-ui/min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/script.js"></script>
</body>
</html>